<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>   
    <title>National News</title>
    <link rel="stylesheet" href="/css/news.css"> 
</head>
<body>
    <div class="main-container">
        {{> _header}}
        <section>
         <div class="row">
           <div class="container">
            <div class="row text-center" id="newsResults"></div>
          </div>
		    </div>
         <div class="loading">
           <div class="loader"></div>
			   </div>
	    	</div>
        </section>
        <div class="footer-bottom" style="height:2em;">
            <p>copyright &copy;2021. designed by The Political Monger</p>
        </div> 
    </div>
    <script src="../js/national-news.js"></script>
    <script src="../js/news.js"></script>
</body>
<script>
  
</script>
</html>