<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Rating</title>
    <link rel="stylesheet" href="/css/rating.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
    <div class="container">
    {{> _header}}
    <div class="row">
        <div class="column">
       
        <h2>Rate your favourite parties</h2>
        <form method="post" class="rate-form">
            <div class="txt_field">
                <input type="text" placeholder=" " id="name" required>
    
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="number" placeholder=" " required>
                <label>Age</label>
            </div>
            <div class="rate">
                <div class="form-group">
                    <select id="product-select" class="form-control custom-select">
                    <option value="0" disabled selected>Select Party</option>
                    <option value="sony">Bhartiya Janta Party</option>
                    <option value="samsung">Indian National Congress</option>
                    <option value="vizio">Aam Aadmi Party</option>
                    <option value="panasonic">Trinamool Congress</option>
                   <option value="phillips">Dravida Munnetra Kazhagam</option>
                   </select>
                </div> 
            <div class="form-group">
            <input type="number" id="rating-control" class="form-control" step="0.1" max="5" placeholder="Rate 1 - 5" disabled>
           </div>
            </div>
            <br>
            <button type="button" id="rating-submit">Submit</button>
        </form>
       
      </div>
      <div class="column">
         <div class="rating-results-user">
             <h2 style="margin-right:150px;">View Your Ratings</h2>
           <!--rating table-->
           
  <table class="table table-striped" style="width:80%;background-color:white;">
    <thead>
      <tr>
        <th>Party Name</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr class="sony">
        <td>Bharatiya Janta Party</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating"></span>
        </td>
      </tr>
      <tr class="samsung">
        <td>Indian National Congress</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating"></span>
        </td>
      </tr>
      <tr class="vizio">
        <td>Aam Aadmi Party</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating"></span>
        </td>
      </tr>
      <tr class="panasonic">
        <td>Trinamool Congress</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating"></span>
        </td>
      </tr>
      <tr class="phillips">
        <td>Dravida Munnetra Kazhagam</td>
        <td>
          <div class="stars-outer">
            <div class="stars-inner"></div>
          </div>
          <span class="number-rating"></span>
        </td>
      </tr>
    </tbody>
  </table>
            <!--rating table ends-->
         </div>
      </div>
    </div>
    <div class="footer-bottom" style="height:2em;">
            <p>copyright &copy;2021. designed by The Political Monger</p>
    </div>
</div>

<script src="/js/rating.js"></script>
</body>

</html>