body{
    margin:0;
    padding:0;
    font-family:Arial;
    background-color:#4fd4fc6c;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.center{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:white;
    border-radius: 10px;
    width:500px;
}

.center form{
    padding:0 20px;
    box-sizing: border-box;
}
form .txt_field{
    position:relative;
    margin:30px 0;
}
.txt_field input{
    width:100%;
    padding: 0 5px;
    height:40px;
    font-size: 16px;
    border:none;
    background: none;
    outline:none;
}
.txt_field label{
    position: absolute;
    top:50%;
    left:5px;
    color:#adadad;
    transform: translateY(-50%);
    font-size:16px;
    pointer-events:none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position:absolute;
    top:40px;
    left:0;
    width:0%;
    height:2px;
    background: #2691d9;
    transition: .5s;
}
.txt_field input:focus ~label,
.txt_field input:not(:placeholder-shown):invalid ~label,
.txt_field input:valid ~label{
    top:-5px;
    color:#2691d9;
}
.txt_field input:focus ~span::before{
    width: 100%;
} 
.txt_field input:valid ~span::before{
    width: 100%;
    background-color: green;
}
 
.text_field input:not(:placeholder-shown):invalid ~span::before {
    width: 100%;
    background-color: red;
}
button{
    width:100%;
    height:50px;
    border:1 px solid;
    background:#2691d9;
    border-radius: 25px;
    font-size:18px;
    color:#e9f4fb;
    font-weight: 700;
    cursor:pointer;
    outline: none;

}
button:hover{
    border-color: #2691d9;
    transition:.5s;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size:16px;
    color:#666666;
}
.signup_link a{
    color:#2691d9;
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}

.row{
  display: flex;
  text-align:center;
}
.column{
    flex:50%;
    margin:auto;
}
.rate-form{
    border: 2px solid #2691d9;
    padding: 10px;
    margin:auto;
    border-radius: 20px;
    background-color:white;
    width:75%;
}
#rating-submit{
    background-color:#009688;
    color:white;
}
#rating-submit:hover{
    background-color: #4bf3e2c4;
}

/**star rating*/
.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}
/***star rating ends***/

@media screen and (max-width:600px){
  .column{
    width:100%;
  }
}